/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.center-form form {
  display: flex;
  flex-direction: column;
}

.center-form label {
  margin-bottom: 10px;
}

.center-form input[type="text"],
.center-form input[type="number"] {
  width: 100%;
  /* padding: 8px; */
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.center-form input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.center-form input[type="submit"]:hover {
  background-color: #0056b3;
}
